/* ---- GLOBAL ---- */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
	font: 14px/25px "Open Sans", Verdana, Helvetica, sans-serif;
	color: #000;
}

/* ---- TYPE ---- */

h1 {
	padding: 0;
	margin-top: 0;
	text-align: center;	
	color: #000;		
	font: 100px/91px "Paytone One", Arial Black, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 6px;
}

h2 {
	padding: 0;
	margin: 40px 0;	
	font: 70px/70px "Paytone One", Arial Black, Arial, Helvetica, sans-serif;
	color: #000;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 6px;
}

p a { 
	color: #000; 
	font-weight: bold; 
	border-bottom: 2px #000 solid; 
}

	p a:hover { 
		color: #74a900; 
		font-weight: bold; 
		border-bottom: 2px #74a900 solid; 
	}

/* ---- NAVIGATION ---- */

nav {
	width: 100%;
	height: 60px;
	color: #fff;
	background-color: #000;	
	font-size: 1.2em;
	font-weight: 400;
	letter-spacing: 3px;
}

nav ul {
	padding-top: 15px;
	text-align: center;
}

	nav ul li {
		display: inline-block;
		text-transform: uppercase;	
	}

		nav ul li:first-child {
			margin-right: 120px;
		}

		nav ul li:last-child {
			margin-left: 120px;
		}

	nav ul li a {
		color: #fff;
	}

		nav ul li a:hover {
			color: #808080;
		}

/* ---- STRUCTURE ---- */

#home {
	background: #ffdf2f url(../images/home_bg.png) center center;
	width: 100%;	
	padding: 320px 0;
}

#about {
	background-color: #a6d3e0;
	width: 100%;
	float: left;
	padding: 0 0 50px 50px;
}

#about_left {
	width: 45%;
	float: left;
}

#about_right { 
	margin-top: 250px; 
	max-width: 627px;	
	float: right; 
}

blockquote {
	font: 24px/33px "Open Sans", Verdana, Helvetica, sans-serif;
	text-align: center;
	font-weight: 600;
	font-style: italic;
}

#work {
	width: 100%;
	text-align: center;
}

#work ul {  
	width: 950px;
	margin: 0 auto;	
}

	#work ul li { 
		display: block;
		float: left;
		list-style-type: none;
		margin: 10px;
	}

	#work ul li img {
		width: 290px;
		height: 374px;
	}	

		#work ul li a { 
			opacity: 0.8; 
			transition:all 0.2s ease-in-out;
			-webkit-transition:all 0.2s ease-in-out;
		    -moz-transition:all 0.2s ease-in-out;
		}

			#work ul li a:hover { opacity: 1; }

#lightbox {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 100px;	
	background: rgba(0,0,0,0.8);
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

.active {
  z-index: 99;
}	

footer {
	height: 60px;
	clear: both;
	padding-top: 20px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
}

/* ---- TABLET ---- */

@media screen and (min-width: 480px) and (max-width: 900px) { 

	nav ul li:first-child {
		margin-right: 40px;
	}

	nav ul li:last-child {
		margin-left: 40px;
	}

	#home h1 { 
		font-size: 90px;
		line-height: 90px;
	}

	#about {
		padding: 0 0 50px 0;
	}

	#about_left {
		display: block;
		width: 100%;
		padding: 0 40px;
	}

	#about_right { 
		margin-top: 50px; 
		display: block;
	}	

	#work ul {
		width: 400px;
	}	

}

/* ---- MOBILE ---- */

@media screen and (min-width: 320px) and (max-width: 480px) {

	nav ul li:first-child {
		margin-right: 20px;
	}

	nav ul li:last-child {
		margin-left: 20px;
	}

	#home {
		padding: 220px 0;
		background-size: 290%;
	}

	h1 { 
		font-size: 60px;
		line-height: 55px;
	}

	h2 { font-size: 50px; }

	#about {
		padding: 0 0 50px 0;
	}

	#about_left {
		display: block;
		width: 100%;
		padding: 0 40px;
		font-size: 16px;
	}

	#about_right { 
		margin-top: 50px; 
		display: block;
	}
		#about_right img {
			width: 100%;
		}

	#work ul {
		width: 300px;
	}

}


